In [1]:
"""
AUTHOR:KRISTAL SHRESTHA
DATE:6/20/2024
PURPOSE:merging dataFrames in Pandas
"""

'\nAUTHOR:KRISTAL SHRESTHA\nDATE:6/20/2024\nPURPOSE:merging dataFrames in Pandas\n'

In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame([[11,25,2424],[7,3,6],[4,0,9]],columns=['A','B','C'])

In [4]:
df1

    A   B     C
0  11  25  2424
1   7   3     6
2   4   0     9

In [6]:
df2=pd.DataFrame([[111,325,2424],[71,32,64],[42,22,93]],columns=['X','Y','Z'])

In [7]:
df2

     X    Y     Z
0  111  325  2424
1   71   32    64
2   42   22    93

In [8]:
df3=pd.merge(df1,df2,right_on='Y',left_on='B')

In [9]:
df3

Empty DataFrame
Columns: [A, B, C, X, Y, Z]
Index: []