In [6]:
"""
AUTHOR:KRISTAL SHRESTHA
DATE:6/20/2024
PURPOSE:Reading a CSV file
"""

'\nAUTHOR:KRISTAL SHRESTHA\nDATE:6/20/2024\nPURPOSE:Reading a CSV file\n'

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv(r'C:\Users\Kristal\Desktop\PYTHON-DataScience-BigData\basics\pandas module\satisfaction.csv')

In [9]:
df

       Satisfaction
0    Very Satisfied
1         Satisfied
2           Neutral
3       Unsatisfied
4  Very Unsatisfied

In [10]:
df.head()

       Satisfaction
0    Very Satisfied
1         Satisfied
2           Neutral
3       Unsatisfied
4  Very Unsatisfied

In [11]:
df

       Satisfaction
0    Very Satisfied
1         Satisfied
2           Neutral
3       Unsatisfied
4  Very Unsatisfied

In [12]:
print(df['Satisfaction'])

0      Very Satisfied
1           Satisfied
2             Neutral
3         Unsatisfied
4    Very Unsatisfied
Name: Satisfaction, dtype: object

In [13]:
print(df['Satisfaction'].dtype)

object