In [18]:
"""
AUTHOR:KRISTAL SHRESTHA
DATE:6/20/2024
PURPOSE:Learning framework slicing and adding columns to data frame
"""

'\nAUTHOR:KRISTAL SHRESTHA\nDATE:6/20/2024\nPURPOSE:Learning framework slicing and adding columns to data frame\n'

In [19]:
import pandas as pd
import numpy as np
df=pd.DataFrame()

In [20]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[23,29,12,13],[44,98,110,22]],columns=['A','B','C','D'])

In [21]:
df1

    A   B    C   D
0   1   2    3   4
1   5   6    7   8
2  23  29   12  13
3  44  98  110  22

In [22]:
df1.shape

(4, 4)

In [23]:
df1.iloc[0,1]

np.int64(2)

In [24]:
df1.iloc[0:2,0:2]

   A  B
0  1  2
1  5  6

In [25]:
df1.iloc[1:2,2:3]

   C
1  7